<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas - Reserva</title>
</head>
<body>
    <h2>{{ reserva.cnpj }}</h2>
    <span>{{ reserva.nome_empresa }}</span>
    <span>{{ reserva.categoria_empresa }}</span>
    <span>{{ reserva.quitado }}</span>
    <span>{{ reserva.stand.localizacao }}</span>
    <span>{{ reserva.stand.valor }}</span>
</body>
</html>